body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    text-align: center;
}

.bouton {

    background-color: #60a2df;
    border-style: none;
    border-radius: 6%;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    margin: auto;

}

.divBtns {

    display: grid;
    align-items: center;
    background-color: #e8ebe9;
    padding: 30px;
    width: 300px;
    height : 500px;
    margin: auto;

}

h1 {
    padding : 20px;
    align-self: center;
    margin: auto;
}

