body{
    font-family: 'Helvetica Neue', Helvetica, Arial;
}

input{
    max-width: 100%;
}

table{
    border-collapse: collapse;
    border-radius: 50px;
}

.tableResultats th{
    border-bottom: 1px solid #60a2ff;
    text-align: left;
    color: #ffffff;
    background-color: #60a2df;
    padding: 10px;
    
}

.tableResultats td{
    min-width: 100px;
    padding: 10px;
}

.tableResultats tr:nth-child(even){
    background-color: #f2efef;
}

